.statistics {
    width: 300px;  
    
    margin: 60px auto 60px;
    text-align: center;  
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 10px 5px 5px 0px rgba(58, 178, 54, 0.907),
    0px 1px 2px 3px rgba(213, 212, 211, 0.923), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .statList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0;
  
    .item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50px;
        padding: 10px 0 10px;
        background-color: rgb(117, 8, 85);
        border: 1px solid #ccc ;
        color: #fff;
    }
  }
  
  .title{
      padding: 15px;
      text-transform: uppercase;
      font-size: 24px;
      color: #0b0a0a;
  }
  
  .label{
      font-size: 14px;  
    line-height: 1.75;
  }
  .percentage{
      font-size: 18px;
    font-weight: 500;
    line-height: 1.75;
  }