.transactionHistory {
    background-color: #fff;
    display: block;
    border-collapse: collapse;
    border: 2px solid #ccc;
    width: 600px;
    margin: 0 auto;
    box-shadow:   inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    
    
    thead {
      background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));

     
      border-collapse: collapse;
      border: 2px solid #ccc;
      background-color: turquoise;
    }
    th {    
     
      width: 300px;
      text-align: center;
      padding: 20px;
      text-transform: uppercase;
    }
    td {    
      width: 200px;
      text-align: center;
      padding: 10px;
    }
    tr {
        
      display: block;
      border: 1px solid #ccc;
      width: 600px;    
     
    }
  }
  tbody tr:nth-child(odd) {
      background-color: #fff;
    }
    
    tbody tr:nth-child(even) {
      background-color: #ececec;
    } 